/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
            /* header start */
            .c_padding{
                padding: 50px 0 70px;
            }
            .header{
                padding: 10px 0;
              }
            .menu ul li a {
                padding: 10px 0 0px !important;
                font-size: 20px;
                text-align: right;
            }
            /* header end */
                    /* slider start */
        .slider {
            padding-bottom: 80px;
        }
        .c_ind {
            bottom: -70px;
        }
        .c_ind [data-bs-target] {
            width: 13px;
            height: 13px;
        }
        .s_text{
            margin-top: 0;
        }
        .s_text h1 {
            font-size: 25px;
        }  
        .s_text h2 {
            font-size: 20px;
            margin: 10px 0;
        }
        .s_text p {
            margin: 10px 0;
            font-size: 17px;
        }
        .s_icon ul li{
            margin-right: 15px !important;
            /* transform: rotate(20deg); */
        }
        .s_icon ul li i {
            font-size: 35px;
        }
        /* slider end */
        /* feature start */
       
        .c_h1{
            margin-bottom: 10px;
            font-size: 25px;
        }
        .c_p{
            font-size: 16px; 
            line-height: 25px;
        }
        /* single item */

        .f_item {
            margin-top: 30px;
            text-align: center;
        }
        .f_icon i{
            margin-top: 0;
            font-size: 35px;
        }
        .f_text h2 {
            margin-top: 10px;
            font-size: 20px;
           
        }
         .f_text p {
             
             letter-spacing: 0;
         }
        /* feature end */
        /* contact start */        
        .c_form {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .c_input {
            height: 45px;
            padding: 10px 10px;
        }  
        .c_submit {           
            height: 45px;
        }
        /*contact icon */
        .c_icon li i {
            font-size: 25px;
        }
        .c_icon li{
            margin-right: 20px !important;
         }
        /* contact end */
        /* footer start */
        .footer{
            padding-bottom: 70px;
        }
        .f_1{
            text-align: center;
        }
        .f_2{
            text-align: center;
            margin-top: 40px;
        }
        /* footer end */
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
        /* header start */
        .c_padding{
            padding: 50px 0 70px;
        }
        .menu ul li a {
            padding: 10px 0 0px !important;
            font-size: 20px;
            text-align: right;
        }
        /* header end */
        /* slider start */
        .slider {
            padding-bottom: 80px;
        }
        .c_ind {
            bottom: -55px;
        }
        .c_ind [data-bs-target] {
            width: 13px;
            height: 13px;
        }
        .s_text{
            margin-top: 0;
        }
        .s_text h1 {
            font-size: 25px;
        }  
        .s_text h2 {
            font-size: 20px;
            margin: 10px 0;
        }
        .s_text p {
            margin: 10px 0;
            font-size: 17px;
        }
        .s_icon ul li i {
            font-size: 35px;
        }
        /* slider end */
        /* feature start */
        
        .c_h1{
            margin-bottom: 10px;
            font-size: 25px;
        }
        .c_p{
            font-size: 16px; 
            line-height: 25px;
        }
        /* single item */
        
        .f_item {
            margin-top: 30px;
        }
        .f_icon i{
            font-size: 35px;
        }
        .f_text h2 {
            margin-top: 10px;
            font-size: 20px;
            text-align: center;
        }
         .f_text p {
             text-align: center;
         }
        /* feature end */
        /* contact start */        
        .c_form {
            margin-top: 35px;
            margin-bottom: 35px;
        }
        .c_input {
            height: 45px;
            padding: 10px 10px;
        }  
        .c_submit {           
            height: 45px;
        }
        /*contact icon */
        .c_icon li i {
            font-size: 35px;
        }
        .c_icon li{
            margin-right: 25px !important;
         }
        /* contact end */
        /* footer start */
        .footer{
            padding-bottom: 70px;
        }
        .f_1{
            text-align: center;
            margin-bottom: 40px;
        }
        .f_2{
            text-align: center;
        }
        /* footer end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* header start */
    .feature{
        padding: 80px 0 100px;
    }
    .menu ul li a {
        padding: 10px 0 0px !important;
        text-align: right;
    }
    /* header end */
    /* feature start */
   
    /* feature item */
    .f_item{
        margin-top: 50px;
    }
    /* feature end */
    /* contact */
    .c_form {
        margin-top: 65px;
        margin-bottom: 70px;
    }
    /* contact */
    /* footer start */
    .footer{
        padding-bottom: 100px;
    }
    /* footer end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {}